<?xml version="1.0" encoding="utf-8"?>
<module>
<name>BindHub DNS Updater</name>
<version>100</version>
<type>user</type>
<defaultcat>Server Admin</defaultcat>
<desc>Host ZPanel with ease on a non-static IP address.</desc>
<authorname>Bobby Allen</authorname>
<authoremail>ballen@bobbyallen.me</authoremail>
<authorurl>http://bobbyallen.me</authorurl>
<updateurl>http://repo.bindhub.com/bindhubupdater.xml</updateurl>
</module>
